@charset "utf-8";


body {

  background-image: url('BGImage3.jpg');
  background-repeat: no-repeat;
  background-size: 1440px 900px;

}


.SouthForsyth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.NavBar{
  position: absolute;
  top: 50px;
  left:150px;
}

.NavBar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: Impact, Charcoal, sans-serif;
}



.riverwatchMiddle {

  position: absolute;
  top: 200px;
  left: 50px;

}

.SettlesBridge {

  position: absolute;
  top: 325px;
  left: 50px;
}


.Lakeside {
  position: absolute;
  top: 490px;
  left: 70px;
}


.ShilohPoint{

  position: absolute;
  top: 625px;
  left: 70px;

}


.DavesCreek{
  position: absolute;
  top: 200px;
  right: 50px;
}


 .Desana{
  position: absolute;
  top: 325px;
  right: 50px;

}

.BigCreek{
  position: absolute;
  top: 470px;
  right: 50px;
}

.Midway{
  position: absolute;
  top: 625px;
  right: 50px;
}

p {
	font-size:22px;
color: black;}
